/* I learned that the * sets the margin and padding for the whole page! (3/23) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Full CSS for whole page (3/23)*/
body {
  background-color: #a45832;
  font-family: "Josefin Sans", sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  color: #faf2e9;
  font-size: 4vh;
}

h2{
  color: #faf2e9;
  font-size: 5vh;
  margin-top:1em ;
  margin-bottom: 0;

}

figcaption{
  color:#69301A;
  font-size: 1.5vh;
  font-weight: bold;
}
section {
  display: flex;
  width:100%;
}
section#home {
  background-color: #a45832;
  display: block;
  width:50%;
  margin: 8em auto;
}


/*(4/13)*/
article {
  color: #faf2e9;
  font-size: 4vh;
  background-color: #a45832;
  width:50%;
  display: flex;
  justify-content: flex-end;
}
aside{
  background-color: #faf2e9;
  width:50%;
  display: flex;
  justify-content: flex-start;
}
.column {
  width: 15em;
}
p{
  color: #faf2e9;
  font-size: 4vh;
  margin-bottom: 1em;
}

.block {
  color: #ce916d;
  width: 800%;
  height: 500%;
}
/* 4/15 */

/* Nav Bar - new concept learned it from tutorial linked in reserch paper (3/23)*/

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  min-width: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-color: #ce916d;
}

.inner-nav{
  color:#69301A;
  list-style: square;
  font-size: 4vmax;
}
/* Nav links (links to other pages) (3/23)*/
.nav-links {
  display: flex;
  background-color: #ce916d;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  width: 90%;
  left:3%;
  top:auto;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #faf2e9;
  text-decoration: none;
  letter-spacing:3px;
  font-weight: bold;
}

/*sizing images and captions*/ 
.responsive,figcaption{
  height:auto;
  max-width:100%;
  float:left;
}

/*flex elements*/
.row{
  display: flex;
}

.column{
  flex:35% ;
  padding: 25%;
}


/* google icon for burger (4/13)*/

.material-icons {
  font-size:50px;
  display: inline-block;
  word-wrap:normal;
  color: #faf2e9; 
  left:10%;
  top:10%;
  display:none;
}

/* @media makes makes the nave bar for small media screens (3/23) */

/* burger nav bar for small screens (3/24)*/
@media only screen and (max-width:810px) {
  body{
    overflow-x:hidden;  
  }
  .nav-links {
    
    right:0px;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ce916d;
    transform: translateX(100%);
    transition: 0.4s ease-in;
  }
  
  .burger{
    display:block;
  }

  .nav-links a {
    color: #faf2e9;
    text-decoration: none;
    letter-spacing:30px;
    font-weight: bold;
    flex-direction: column;
  }
  
 
  .material-icons {
    font-size:3vh;
    display: inline-block;
    word-wrap:normal;
    color: #faf2e9; 
    left:10%;
    top:10%;
  }

  aside{
    flex-direction:column;
    
  }

}
/* makes the nav bar move full screen (3/29) */
.nav-active{
  transform:translateX(0%);
}

/* nav animation to go back to hide nav bar (3/29) */
@keyframes navlinkFade{
  from{
    opacity:0;
    transform:translateX(100%);
  }
  
  to{
    opacity:1;
    transform:translateX(0%);
  }
}

